<div class="container-fluid no-gutters">

  <div class="row">

    <!-- Left Sidebar -->
    <layout-sidebar-left></layout-sidebar-left>
    <!-- /Left Sidebar -->

    <!-- Main Part -->
    <div class="main-wrapper">

      <layout-toolbar></layout-toolbar>

      <main>
        <router-outlet></router-outlet>
      </main>

      <layout-footer></layout-footer>
    </div>
    <!-- /Main Part -->

    <!-- Right Sidebar -->
    <layout-sidebar-right></layout-sidebar-right>
    <!-- /Right Sidebar -->
  </div>
</div>
