<div class="content-wrapper container-fluid px-5 mt-5 mb-4 trans-03-in-out">

  <h3 class="fw-200 pb-3">Small widgets</h3>

  <div class="row">

    <div class="col-lg-4">
      <section class="widget small shadow-01" id="widget-01">

        <div class="widget-block">
          <header>
            <h3 class="widget-title">Income</h3>
            <!--<p class="text-muted">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit-->
            <!--</p>-->
          </header>
          <div class="widget-content pt-1">
            <div>
              <p class="h1">$23.654 <span>bn</span></p>
              <p class="text-muted mt-2">Total per Month</p>
            </div>
          </div>
          <footer></footer>
        </div>
        <span class="badge badge-danger">
                      20% <i class="fa fa-level-up"></i>
                    </span>
      </section>
    </div>

    <div class="col-lg-4">
      <section class="widget widget-dark bg-danger small shadow-01" id="widget-02">

        <div class="widget-block">
          <header>
            <h3 class="widget-title">Income</h3>
          </header>
          <div class="widget-content pt-1">
            <div>
              <p class="h1">$23.654 <span>bn</span></p>
              <p class="text-muted mt-2">Total per Month</p>
            </div>
          </div>
          <footer></footer>
        </div>
        <span class="badge badge-warning">
                      20% <i class="fa fa-level-up"></i>
                    </span>
      </section>
    </div>

    <div class="col-lg-4">
      <section class="widget widget-dark bg-dark small shadow-01" id="widget-03">

        <div class="widget-block">
          <header>
            <h3 class="widget-title">Income</h3>
            <!--<p class="text-muted">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit-->
            <!--</p>-->
          </header>
          <div class="widget-content pt-1">
            <div>
              <p class="h1">$23.654 <span>bn</span></p>
              <p class="text-muted mt-2">Total per Month</p>
            </div>
          </div>
          <footer></footer>
        </div>
        <span class="badge badge-secondary">
                      20% <i class="fa fa-level-up"></i>
                    </span>
      </section>
    </div>

  </div>


  <h3 class="fw-200 pb-3 pt-3">General widgets</h3>

  <div class="row">

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-04">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod. Maecenas luctus urna a erat rutrum aliquet.
                Suspendisse potenti. Aenean dapibus elit sit amet magna aliquet fermentum. Aliquam tristique et risus ut iaculis.
                Maecenas at urna quis nisl iaculis consectetur. Donec non eros egestas, pulvinar arcu id, malesuada lectus.
                Donec hendrerit scelerisque diam, vitae feugiat magna venenatis vel.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget widget-dark bg-dark shadow-01" id="widget-05">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Inverted Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod. Maecenas luctus urna a erat rutrum aliquet.
                Suspendisse potenti. Aenean dapibus elit sit amet magna aliquet fermentum. Aliquam tristique et risus ut iaculis.
                Maecenas at urna quis nisl iaculis consectetur. Donec non eros egestas, pulvinar arcu id, malesuada lectus.
                Donec hendrerit scelerisque diam, vitae feugiat magna venenatis vel.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget widget-dark bg-success shadow-01" id="widget-06">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Green Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget widget-dark bg-danger shadow-01" id="widget-07">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Red Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget bg-warning shadow-01" id="widget-08">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Yellow Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget widget-dark bg-secondary shadow-01" id="widget-09">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Grey Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

  </div>


  <h3 class="fw-200 pb-3 pt-3">Shadows</h3>

  <div class="row">

    <div class="col-lg-3">
      <section class="widget" id="widget-10">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">No Shadow</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget shadow-01" id="widget-11">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Shadow 01</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget shadow-02" id="widget-12">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Shadow 02</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget shadow-03" id="widget-13">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Shadow 03</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

  </div>


  <h3 class="fw-200 pb-3 pt-3">Color Accents</h3>

  <div class="row">

    <div class="col-lg-3">
      <section class="widget headerline-danger shadow-01" id="widget-14">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget headerline-success shadow-01" id="widget-15">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget headerline-primary shadow-01" id="widget-16">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget headerline-dark shadow-01" id="widget-17">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

  </div>


  <h3 class="fw-200 pb-3 pt-3">Outlines</h3>

  <div class="row">

    <div class="col-lg-6">
      <section class="widget border-1 border-dark" id="widget-18">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget border-2 border-danger" id="widget-19">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget border-3 border-success" id="widget-20">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget border-4 border-primary" id="widget-21">
        <div class="widget-block">

          <header class="">
            <h3 class="widget-title">Plain Widget</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur mauris accumsan, tempus ex quis,
                tincidunt mauris. Duis rutrum lacus et ligula tempor euismod.
              </p>
            </div>

          </div>
          <footer>
            <a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </footer>

        </div>
      </section>
    </div>

  </div>

</div>
