<!-- Logo -->
<div class="logo px-4 pt-5 pb-2" [ngClass]="{'logo-dark': dark}">
  <a [attr.href]="link?link:null">
    <div class="text-center text-nowrap">
      <i class="fa fa-spin fa-play-circle rounded-circle" aria-hidden="true"></i>
      <h6 class="logo-title text-uppercase mt-3">OpenAdmin</h6>
      <p class="text-muted">
        <small>ver. 1.0.0</small>
      </p>
    </div>
  </a>
</div>
<!-- Logo mobile -->
<div class="logo-mobile pt-4 pb-4 w-100">
  <a [attr.href]="link?link:null">
    <div class="text-center text-nowrap">
      <i class="fa fa-spin fa-play-circle rounded-circle" aria-hidden="true"></i>
    </div>
  </a>
</div>
