<div class="content-wrapper container-fluid px-5 mt-5 mb-4 trans-03-in-out">


  <h3 class="fw-200 pb-3 pt-3">Headings</h3>

  <div class="row">

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-01">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">H Headings</h3>
            <p>All HTML headings, <code class="highlighter-rouge">&lt;h1&gt;</code> through <code class="highlighter-rouge">&lt;h6&gt;</code>, are
              available.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <h1>h1. Bootstrap heading</h1>
                <h2>h2. Bootstrap heading</h2>
                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <h6>h6. Bootstrap heading</h6>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-02">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Headings via classes</h3>
            <p><code class="highlighter-rouge">.h1</code> through <code class="highlighter-rouge">.h6</code> classes are also available, for when you
              want to match the font styling of a heading but cannot use the associated HTML element.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <p class="h1">h1. Bootstrap heading</p>
                <p class="h2">h2. Bootstrap heading</p>
                <p class="h3">h3. Bootstrap heading</p>
                <p class="h4">h4. Bootstrap heading</p>
                <p class="h5">h5. Bootstrap heading</p>
                <p class="h6">h6. Bootstrap heading</p>
              </div>
            </div>

          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-03">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Display Headings</h3>
            <p>
              Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider
              using a <strong>display heading</strong>—a larger, slightly more opinionated heading style.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">

      <div class="row">

        <div class="col-lg-12">
          <section class="widget shadow-01" id="widget-04">
            <div class="widget-block">

              <header>
                <h3 class="widget-title">Customizing headings</h3>
                <p>Use the included utility classes to recreate the small secondary heading text from Bootstrap 3.</p>
              </header>

              <div class="row">
                <div class="col-lg-12 widget-content py-2">
                  <div class="bd-example">
                    <h3>
                      Fancy display heading
                      <small class="text-muted">With faded secondary text</small>
                    </h3>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>

        <div class="col-lg-12">
          <section class="widget shadow-01" id="widget-05">
            <div class="widget-block">

              <header>
                <h3 class="widget-title">Lead</h3>
                <p>Make a paragraph stand out by adding <code class="highlighter-rouge">.lead</code>.</p>
              </header>

              <div class="row">
                <div class="col-lg-12 widget-content py-2">
                  <div class="bd-example">
                    <p class="lead">
                      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>

      </div>

    </div>


  </div>


  <h3 class="fw-200 pb-3 pt-3">Text</h3>

  <div class="row">

    <div class="col-lg-9">
      <section class="widget shadow-01" id="widget-06">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Inline text elements</h3>
            <p class="text-muted">
              Styling for common inline HTML5 elements.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <p>You can use the mark tag to
                  <mark>highlight</mark>
                  text.
                </p>
                <p>
                  <del>This line of text is meant to be treated as deleted text.</del>
                </p>
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                <p>
                  <ins>This line of text is meant to be treated as an addition to the document.</ins>
                </p>
                <p><u>This line of text will render as underlined</u></p>
                <p>
                  <small>This line of text is meant to be treated as fine print.</small>
                </p>
                <p><strong>This line rendered as bold text.</strong></p>
                <p><em>This line rendered as italicized text.</em></p>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-3">
      <section class="widget shadow-01" id="widget-07">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Abbreviations</h3>
            <p>Stylized implementation of HTML’s <code class="highlighter-rouge">&lt;abbr&gt;</code> element for abbreviations and acronyms to show the
              expanded version on hover. Abbreviations have a default underline and gain a help cursor to provide additional context on hover and to
              users of assistive technologies.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <p><abbr title="attribute">attr</abbr></p>
                <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

  </div>


  <h3 class="fw-200 pb-3 pt-3">Blockquotes</h3>

  <div class="row">

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-08">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Simple Blockquote</h3>
            <p>For quoting blocks of content from another source within your document. Wrap <code class="highlighter-rouge">&lt;blockquote
              class="blockquote"&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <blockquote class="blockquote">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-09">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Naming a source</h3>
            <p>Add a <code class="highlighter-rouge">&lt;footer class="blockquote-footer"&gt;</code> for identifying the source. Wrap the name of the
              source work in <code class="highlighter-rouge">&lt;cite&gt;</code>.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <blockquote class="blockquote">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-10">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Central alignment</h3>
            <p>Use text utilities as needed to change the alignment of your blockquote.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <blockquote class="blockquote text-center">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-11">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Right Alignment</h3>
            <p>Use text utilities as needed to change the alignment of your blockquote.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <blockquote class="blockquote text-right">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

  </div>


  <h3 class="fw-200 pb-3 pt-3">Lists</h3>

  <div class="row">

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-12">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Unstyled</h3>
            <p>Remove the default <code class="highlighter-rouge">list-style</code> and left margin on list items (immediate children only). <strong>This
              only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <ul class="list-unstyled">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                    <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                    </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-13">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Description list alignment</h3>
            <p>Align terms and descriptions horizontally by using our grid system’s predefined classes (or semantic mixins). For longer terms, you can
              optionally add a <code class="highlighter-rouge">.text-truncate</code> class to truncate the text with an ellipsis.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <dl class="row">
                  <dt class="col-sm-3">Description lists</dt>
                  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                  <dt class="col-sm-3">Euismod</dt>
                  <dd class="col-sm-9">
                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                  </dd>

                  <dt class="col-sm-3">Malesuada porta</dt>
                  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                  <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.
                  </dd>

                  <dt class="col-sm-3">Nesting</dt>
                  <dd class="col-sm-9">
                    <dl class="row">
                      <dt class="col-sm-4">Nested definition list</dt>
                      <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                    </dl>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="col-lg-12">
      <section class="widget shadow-01" id="widget-14">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Inline</h3>
            <p>Remove a list’s bullets and apply some light <code class="highlighter-rouge">margin</code> with a combination of two classes, <code
                class="highlighter-rouge">.list-inline</code> and <code class="highlighter-rouge">.list-inline-item</code>.</p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-2">
              <div class="bd-example">
                <ul class="list-inline">
                  <li class="list-inline-item">Lorem ipsum</li>
                  <li class="list-inline-item">Phasellus iaculis</li>
                  <li class="list-inline-item">Nulla volutpat</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>

  </div>

</div>