<div id="sidebar-right" class="sidebar-right" [ngbCollapse]="layoutService.isSidebarRightCollapsed">

  <div class="sidebar-container">

    <ul class="nav nav-tabs nav-tabs-dark" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-expanded="true">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Notes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks">
          <i class="fa fa-bar-chart" aria-hidden="true"></i> Tasks
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="home-tab">

        <app-messages [messages]="messages"></app-messages>

      </div>

      <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="profile-tab">

        <app-messages [messages]="messages"></app-messages>

      </div>

    </div>

  </div>
</div>
