<div class="container-fluid no-gutters">

  <div class="row">

    <!-- Login Form -->

    <div class="box-wrapper">

      <!-- Logo -->
      <div class="logo logo-dark px-4 pt-5 pb-2">
        <a href="index.html">
          <div class="text-center text-nowrap">
            <i class="fa fa-spin fa-play-circle rounded-circle" aria-hidden="true"></i>
            <h6 class="logo-title text-uppercase mt-3">Angulator</h6>
            <p class="text-muted">
              <small>ver. 1.0.0</small>
            </p>
          </div>
        </a>
      </div>
      <!-- /Logo -->

      <div class="text-center">

        <h1 class="display-1">404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
          Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found
          something else in our app.
        </div>

        <div class="search d-none d-md-inline-block mt-5">

          <form class="form-inline my-2 my-lg-0">
            <div class="input-group input-group-built-in">
              <input type="text" class="form-control rounded-1" placeholder="Search for something..." aria-label="Search for something...">
              <span class="input-group-btn">
                  <a href="#" class="btn btn-icon">
                    <i class="fa fa-search"></i>
                  </a>
                </span>
            </div>
          </form>

        </div>

      </div>

    </div>

    <!-- /Login Form -->

  </div>
</div>