<div class="content-wrapper container-fluid px-5 mt-5 mb-4 trans-03-in-out">

  <div class="row">

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-01">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Colorful buttons</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-3 my-3">
              <button type="button" class="btn btn-primary mb-2">Primary</button>
              <button type="button" class="btn btn-secondary mb-2">Secondary</button>
              <button type="button" class="btn btn-success mb-2">Success</button>
              <button type="button" class="btn btn-danger mb-2">Danger</button>
              <button type="button" class="btn btn-warning mb-2">Warning</button>
              <button type="button" class="btn btn-info mb-2">Info</button>
              <button type="button" class="btn btn-light mb-2">Light</button>
              <button type="button" class="btn btn-dark mb-2">Dark</button>
              <button type="button" class="btn btn-link mb-2">Link</button>
            </div>

          </div>
          <!--<footer>-->
          <!--<a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
          <!--</footer>-->

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-02">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Outline Buttons</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-3 my-3">
              <button type="button" class="btn btn-outline-primary mb-2">Primary</button>
              <button type="button" class="btn btn-outline-secondary mb-2">Secondary</button>
              <button type="button" class="btn btn-outline-success mb-2">Success</button>
              <button type="button" class="btn btn-outline-danger mb-2">Danger</button>
              <button type="button" class="btn btn-outline-warning mb-2">Warning</button>
              <button type="button" class="btn btn-outline-info mb-2">Info</button>
              <button type="button" class="btn btn-outline-light mb-2">Light</button>
              <button type="button" class="btn btn-outline-dark mb-2">Dark</button>
            </div>

          </div>
          <!--<footer>-->
          <!--<a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
          <!--</footer>-->

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-03">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Button Sizes</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content mb-4">
              <h5 class="fw-200 mt-3 ">Large</h5>
              <button type="button" class="btn btn-primary btn-lg">Large button</button>
              <button type="button" class="btn btn-secondary btn-lg">Large button</button>
              <h5 class="fw-200 mt-3 ">Regular</h5>
              <button type="button" class="btn btn-primary">Regular button</button>
              <button type="button" class="btn btn-secondary">Regular button</button>
              <h5 class="fw-200 mt-3 ">Small</h5>
              <button type="button" class="btn btn-primary btn-sm">Small button</button>
              <button type="button" class="btn btn-secondary btn-sm">Small button</button>
            </div>
          </div>
          <!--<footer>-->
          <!--<a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
          <!--</footer>-->

        </div>
      </section>
    </div>

    <div class="col-lg-6">
      <section class="widget shadow-01" id="widget-04">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Active and Disabled Icon States</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content mb-4">
              <h5 class="fw-200 pb-1 mt-4">Active</h5>
              <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
              <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
              <h5 class="fw-200 pb-1 mt-4">Disabled</h5>
              <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
              <button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>
            </div>

          </div>
          <!--<footer>-->
          <!--<a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
          <!--</footer>-->

        </div>
      </section>
    </div>

    <div class="col-lg-12">
      <section class="widget shadow-01" id="widget-05">
        <div class="widget-block">

          <header>
            <h3 class="widget-title">Block Level Buttons</h3>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </header>

          <div class="row">
            <div class="col-lg-12 widget-content py-3 my-3">
              <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
              <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
            </div>

          </div>
          <!--<footer>-->
          <!--<a href="#!">See More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
          <!--</footer>-->

        </div>
      </section>
    </div>

  </div>

</div>